.navbar-nav a {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
}

.container-fluid {
  background-color: rgb(0, 0, 0);
  height: 125px;
}

.navbar-light .navbar-brand {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 900;
}

.navbar-nav a:hover {
  font-weight: bold;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.nav-link {
  background-color: #000000;
  width: 100%;
}

.navbar-toggler {
  background-color: rgb(255, 255, 255);
}

.item img {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0 0;
  transition: all 0.5s;
  object-fit: cover;
}

.item {
  border-radius: 10px;
}

.item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.item figure {
  overflow: hidden;
}

.item:hover img {
  transform: scale(1.1);
}

.item h2 {
  font-size: 18px;
  font-weight: 900;
}

.item .Buscado img {
  width: 20%;
  height: 200px;
}

.item .Nov img {
  width: 20%;
  height: 200px;
}

.contenedor-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 80px;
  font-size: medium;
  width: 90%;
  margin: 0 auto;
}

.info-producto {
  line-height: 2;
  display: flex;
  flex-direction: column;
  padding: 15px 30px;
  gap: 10px;
}

.info-producto button:hover {
  background-color: rgb(0, 0, 0);
  font-weight: bold;
}

img {
  width: 100%;
}

.p-recio {
  font-size: 12px;
  font-weight: 900;
}

.dest {
  text-align: center;
  text-decoration: none;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-weight: 900;
}

.dest h2 {
  color: #f6f6f6;
  background-color: #000000;
}

.destacados {
  margin-top: 25px;
}

.D-estacados {
  height: 475px;
}

.Nov-edades {
  margin-top: 25px;
  height: 475px;
}

.nov {
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  color: #000000;
  text-align: center;
}

.nov h2 {
  color: #f6f6f6;
  background-color: #000000;
}

a .Ver {
  border: none;
  background: none;
  background-color: black;
  color: white;
  padding: 8px 8px;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: azure;
  width: 100%;
}

.nov:hover {
  color: antiquewhite;
}

.Novedades {
  margin-top: 30px;
  margin-bottom: 30px;
}

.Mas-buscado {
  margin-top: 25px;
  height: 475px;
}

.masBuscado {
  color: #f6f6f6;
  text-align: center;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  margin-top: 20px;
  background-color: #000000;
}

.masBuscado:hover {
  color: #f6f6f6;
}

.B-uscado {
  margin-top: 60px;
}

.form-control {
  display: block;
  width: 400px;
  height: 35px;
  /* padding: 0.375rem 0.75rem; */
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #232129;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

footer .c-ontacto {
  font-size: 13px;
  text-decoration: none;
  margin-bottom: 10px;
  color: #fafffd;
  font-family: "Oswald", sans-serif;
}

footer .col {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .alta-gama {
  margin-bottom: 20px;
  font-size: 20px;
  color: #fafffd;
  font-family: "Oswald", sans-serif;
}

footer h4 {
  text-align: center;
  font-size: 20px;
  padding-bottom: 10px;
  justify-content: center;
  color: #fafffd;
  font-family: "Oswald", sans-serif;
}

footer .follow {
  margin-top: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
  color: #fafffd;
  font-family: "Oswald", sans-serif;
}

.fa-brands {
  font-weight: 400;
  color: #fafffd;
}

footer a {
  font-size: 13px;
  margin: 0 0 8px 0;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 10px;
  list-style: none;
  font-family: "Oswald", sans-serif;
}

footer {
  padding: 40px 80px;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.col img {
  height: 100px;
  width: 200px;
  background-color: #fafffd;
}

#newsletter button {
  border-radius: 4px;
  white-space: nowrap;
  border: none;
  background: none;
  background-color: black;
  color: white;
  padding: 8px 8px;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: azure;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#newsletter input {
  height: 3.125rem;
  padding: 0 0.125em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter p {
  font-size: 15px;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  color: #fafffd;
}

#newsletter .form {
  display: flex;
  width: 40%;
}

#newsletter h3 {
  font-size: 25px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  color: #fafffd;
}

#newsletter {
  height: 150px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(255, 11, 11);
  padding: 40px 80px;
  margin: 40px 0;
}

#foto-container .column {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 80px;
  font-size: medium;
  width: 90%;
  margin: 0 auto;
}

#foto-container .column .iten img {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0 0;
  transition: all 0.5s;
  object-fit: cover;
}

#foto-container .column .iten .info-product {
  line-height: 2;
  display: flex;
  flex-direction: column;
  padding: 15px 30px;
  gap: 10px;
}

#foto-container .column .iten .info-product button {
  border: none;
  background: none;
  background-color: black;
  color: white;
  padding: 8px 8px;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: azure;
}

#foto-container .column .iten:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

#foto-continer .column .info-product .phantom h2 {
  font-size: 10px;
}

.iten h2 {
  font-size: 18px;
  font-weight: 900;
}

#foto-continer .column .info-product .phantom h2 {
  font-size: 10px;
}

#foto-container .column .iten:hover img {
  transform: scale(1.1);
}

.iten {
  margin-top: 20px;
}

.con-tainer {
  display: grid;
  grid-template-areas: "sidebar foto";
}

#sidebar {
  background-color: rgb(232, 147, 147);
  grid-area: sidebar;
  font-family: "Oswald", sans-serif;
  border-right: solid black;
}

#sidebar .bar h3 {
  border-bottom: solid #000000;
}

.bar {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  margin: 0 10px;
  line-height: 3;
  color: #f6f6f6;
  margin-top: 2px;
  width: 100%;
}

.bar .side {
  background-color: #000000;
  width: 150px;
  text-align: center;
  height: 35px;
  justify-content: center;
}

a {
  color: #f6f6f6;
  text-decoration: none;
}

.bar p a {
  background-color: #000000;
  width: 100%;
  text-align: center;
  height: 35px;
  justify-content: center;
}

@media screen and (max-width: 480px) {


  .D-estacados {
    height: 750px;
  }

  .bar {
    /* display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    margin: 0 10px;
    line-height: 3;
    color: #f6f6f6;
    margin-top: 2px;
    width: 100%; */
    display: none;
  }

  .con-tainer {
    display: grid;
    grid-template-areas: "sidebar foto";

  }

  #foto-container .column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 80px;
    font-size: medium;
    width: 90%;
    margin: 0 auto;
  }

  .form-control {
    display: block;
    width: 250px;
    height: 35px;
    /* padding: 0.375rem 0.75rem; */
    font-family: "Oswald", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #232129;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }

  .destacados {
    margin-top: 0px;
  }

  #newsletter {
    height: 300px;
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 11, 11);
    /* padding: 40px 80px; */
    margin: 40px 0;
  }

  .contenedor-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    width: 40px;
  }

  .item {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin-top: 15px;
  }

  .item img {
    height: 100px;
    border-radius: 10px 10px 0 0;
  }

  .Nov-edades {
    height: 800px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  /* .Novedades {
    margin-top: 0px;
  } */

  .Mas-buscado {
    height: 850px;
  }

  .B-uscado {
    margin-top: 0px;
  }

  /* .info-producto {
   line-height: 1;
   display: flex;
   flex-direction: column;
   padding: 15px 30px;
   gap: 2px;
   margin-top: 10px;
 } */

  #newsletter {
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 11, 11);
    /* padding: 40px 80px; */
    margin: 40px 0;
  }

  #newsletter .form {
    display: flex;
    width: 100%;
  }

  #newsletter h3 {
    font-size: 25px;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    color: #fafffd;
  }

  .footer {
    padding: 40px 80px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }

  .futer {
    height: 500px;
  }

  footer .col {
    flex-direction: column;
    display: flex;
    margin-bottom: 20px;
  }

  .c-opy {
    font-size: 10px;
    font-family: "Oswald", sans-serif;
  }

  /* footer .c-ontacto {
   font-size: 15px;
} */
  footer .co-ntacto {
    font-size: 13px;
    text-decoration: none;
    margin-bottom: 10px;
    margin-left: 20px;
    color: #fafffd;
    font-family: "Oswald", sans-serif;
  }

  footer .alta-gama {
    margin-bottom: 20px;
    font-size: 20px;
    color: #fafffd;
    font-family: "Oswald", sans-serif;
  }

  footer .follow {
    margin-top: 20px;
  }

  /* footer h4 {
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
    justify-content: center;
    color: #fafffd;
    font-family: "Oswald", sans-serif;
  } */

  /* footer .col h4 {
   text-align: center;
} */
  footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
    color: #fafffd;
    font-family: "Oswald", sans-serif;
  }

  .col img {
    justify-content: center;
    height: 100px;
    width: 200px;
    background-color: #fafffd;
  }

  .col-install {
    align-items: center;
  }

  /* footer a {
    font-size: 13px;
    margin: 0 0 8px 0;
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 10px;
    list-style: none;
    font-family: "Oswald", sans-serif;
  } */
}

/*# sourceMappingURL=estilos.css.map */